{% extends "dcim/device.html" %}

{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
    <a href="?ldos_year=1" class="btn btn-primary">
      Devices a year from today
    </a>
    <div style="flex: 1; text-align: center;">
      <strong>Today: {{ today|date:"Y-m-d" }}</strong>
    </div>
    <a href="/plugins/netbox_eox_views/ldos-device-list/" class="btn btn-secondary">
      Today
    </a>
  </div>
  <form method="get" style="display:inline;">
    <input type="date" name="ldos_before" value="{{ request.GET.ldos_before }}">
    <button type="submit" class="btn btn-info">Show devices before date</button>
  </form>
  {{ block.super }}
{% endblock %}